@import "../utils/vars";

.about-us {
  @include flexCentering;
  align-items: start;
  padding: 120px $block-hor-padding;

  &__slogan {
    width: 780px;
    margin-bottom: 48px;
    font-size: 48px;
  }

  &__emphasis {
    font-weight: 700;
    color: $main-color;
  }

  &__inf {
    width: 533px;
  }

  &__title {
    color: $main-color;
    font-size: 24px;
  }

  &__text {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.9;
    color: $text-dark;
  }

  @media (max-width: 960px) {
    flex-wrap: wrap;
    padding: 70px 20px;

    &__slogan {
      font-size: 36px;
    }

    &__title {
      font-size: 23px;
    }

    &__text {
      font-size: 15px;
    }
  }
}
