.consult {
  padding: $block-ver-padding $block-hor-padding;

  &__title {
    margin-bottom: 125px;
    text-align: center;
    @include titleForSection;
  }

  &__content {
    @include flexCentering;
    align-items: start;
  }

  &__inf {
    max-width: 412px;
    padding-right: 20px;
    margin-bottom: 16px;
  }

  &__foreword {
    max-width: 240px;
    font-size: 24px;
    line-height: 1.3;
    color: $main-color;
  }

  &__text {
    font-size: 16px;
    line-height: 1.7;
  }

  @media (max-width: 960px) {
    padding: $svp-block-padding;

    &__title {
      margin-bottom: 50px;
    }

    &__content {
      flex-direction: column;
      align-items: center;
    }

    &__inf {
      padding-right: 0;
    }
  }

  @media (min-width: 1300px) {
    width: 1260px;
    margin: 0 auto;
  }
}
