@import "../utils/vars";

.footer {
  position: relative;
  height: $footer-height;
  @include backgroundImage("/images/footer.jpg");

  &__logo-link {
    @include positionCenteringHorizon;
    bottom: 30px;
    width: 115px;
  }

  &__logo-img {
    width: inherit;
  }

  @media (max-width: 960px) {
    height: 206px;

    &__logo-link {
      bottom: 18px;
      width: 77px;
    }
  }
}
