.gallery {
  padding: 50px $block-hor-padding;
  text-align: center;

  &__title {
    margin-bottom: 40px;
    @include titleForSection;
  }

  &__crown {
    margin-bottom: 42px;
  }

  &__article {
    text-align: left;
    margin-bottom: 40px;
  }

  &__line {
    display: grid;
    gap: 20px;
    margin-bottom: 24px;

    &--first {
      grid-template-columns: 2fr 1fr;
    }

    &--second {
      grid-template-columns: repeat(2, 1fr);
    }

    &--third {
      grid-template-columns: 1fr 2fr;
    }
  }

  &__img {
    height: 256px;
    width: 100%;
    border-radius: $photo-radius;
    object-fit: cover;
    @include hover(transform, scale(1.05));
  }

  &__address {
    font-size: 16px;
    font-weight: bold;
    color: $text-dark;
  }

  &__link {
    color: $main-color;
  }

  &__button {
    width: 184px;
    height: 52px;
    font-size: 16px;
    color: $main-color;
    background-color: $text-light;
    border: 2px solid $main-color;
    border-radius: $button-radius;
    cursor: pointer;
    transition: color 0.3s, font-size 0.3s, border-color 0.5s;

    &:hover {
      color: $submit-hover;
      font-size: 17px;
      border-color: $submit-hover;
    }
  }

  @media (max-width: 960px) {
    padding: $svp-block-padding;

    &__article {
      margin-bottom: 32px;
    }

    &__line {
      margin-bottom: 16px;

      &--first,
      &--third {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &__img {
      height: 131px;
    }

    &__button {
      width: 100%;
    }
  }
}
