.testimonials {
  padding: $block-ver-padding $block-hor-padding;

  &__title {
    text-align: center;
    margin-bottom: 125px;
    @include titleForSection;
  }

  &__cards {
    @include flexCentering;
    align-items: start;
  }

  &__item {
    max-width: 240px;
    margin-bottom: 48px;
    text-align: center;
  }

  &__img {
    margin-bottom: 28px;
    border-radius: 50%;
  }

  &__name {
    margin-bottom: 4px;
    color: $main-color;
    font-size: 24px;
  }

  &__position {
    margin-bottom: 13px;
    color: $hint-color;
    font-size: 14px;
  }

  &__comment {
    color: $text-dark;
    font-size: 16px;
    line-height: 1.7;
  }

  @media (max-width: 960px) {
    padding: $svp-block-padding;

    &__title {
      margin-bottom: 53px;
    }

    &__cards {
      flex-direction: column;
      align-items: center;
    }
  }
}
