@import "utils";
@import "fonts";
@import "typography";

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  padding: 0;
}

input,
textarea {
  border-width: 0;
}

@import "./blocks/header";
@import "./blocks/nav";
@import "./blocks/about-us";
@import "./blocks/gallery";
@import "./blocks/consult";
@import "./blocks/form";
@import "./blocks/testimonials";
@import "./blocks/contact-us";
@import "./blocks/footer";
