@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin active {
  transition: background-color 0.3s;
  &:active {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
  }
}

@mixin positionCenteringHorizon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin positionCenteringAll {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexCentering {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

@mixin titleForSection {
  position: relative;
  height: 80px;
  font-size: 48px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 13px;
    height: 10px;
    background-image: url("/images/crown.svg");
    background-size: cover;
    background-position: center;
    transform: translateX(-50%);
  }

  @media (max-width: 960px) {
    height: 70px;
    font-size: 36px;
  }
}
