$main-color: #0075ff;
$text-light: #fff;
$hint-color: #9fadc2;
$text-dark: #3e3e3e;
$title-dark: #000;
$title-light: #fff;
$block-hor-padding: 120px;
$block-ver-padding: 90px;
$header-height: 100vh;
$form-width: 415px;
$input-height: 48px;
$input-padding-left: 17px;
$input-submit-height: 56px;
$submit-hover: #0067DF;
$input-background: #f7f8ff;
$main-radius: 8px;
$footer-height: 360px;
