$main-color: #0075ff;
$text-light: #fff;
$hint-color: #9fadc2;
$text-dark: #3e3e3e;
$title-dark: #000;
$title-light: #fff;
$block-hor-padding: 120px;
$block-ver-padding: 90px;
$header-height: 100vh;
$form-width: 415px;
$input-height: 48px;
$input-padding-left: 17px;
$input-submit-height: 56px;
$submit-hover: #0067df;
$submit-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
$input-background: #f7f8ff;
$input-radius: 8px;
$link-radius: 8px;
$button-radius: 8px;
$photo-radius: 8px;
$footer-height: 360px;
$link-padding: 5px 15px;
$svp-hor-padding: 20px;
$svp-block-padding: 40px $svp-hor-padding;
