$main-color: #0075ff;
$text-light: #fff;
$text-dark: #3e3e3e;
$title-dark: #000;
$title-light: #fff;
$block-hor-padding: 120px;
$block-ver-padding: 24px;
$header-height: 700px;
$about-us-height: 500px;
$gallery-height: 1300px;
